################################################################################
# DEFAULT
################################################################################
ensure mapmanager
#ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
ensure scoreboard

################################################################################
# INPUT
################################################################################
start input

################################################################################
# CHAT
################################################################################
ensure improved-chat

################################################################################
# DEVELOPER
################################################################################
start noclip
