html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

#chatBackground {
  margin-left: 0.5%;
  margin-top: 0.5%;
  background-color: rgba(30, 30, 255, 0.2);
  width: 30%;
  height: 30%;
  color: rgba(255, 255, 255, 1.0);
  font-size: 125%;
}

#chatArea {
  margin: 1%;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#chatForm {
  margin-left: 0.5%;
  margin-top: 0.0%;
  width: 30%;
  height: 3%;
  background-color: rgba(30, 30, 255, 0.4);
  color: rgba(255, 255, 255, 1.0);

  display: flex;
  align-items: center; /* align vertical */
}

#form {
  width: 100%;
  height: 100%;
}

#input {
  color: rgba(255, 255, 255, 1.0);
  background: none;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 125%;
}

#input::placeholder {
  color: rgba(200, 200, 200, 1.0);
}

#message {

}
